@use "sass:math";
@import "./zeroingmachine.scss";

$fontFamily: "Poppins";
$fontSize: 16px;
$mainColor: #e2e2e2;
$mainTextColor: #ffffff;
$minWidth: 320;
$maxWidth: 1920;
$minHeight: 76px;
$maxWidthContainer: 1530px;
$containerPadding: 90px;
$containerWidth: $maxWidthContainer + $containerPadding;
$pc: em($containerWidth);
$tablet: em(991.98);
$mobile: em(767.98);
$mobileSmall: em(479.98);
body {
  background: #070b1a;

  font-weight: 500;
  font-size: $fontSize;
  color: $mainTextColor;
  width: 100%;
  height: 100%;
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.main {
  flex: 1 1 auto;
}

[class*="_container"] {
  max-width: $maxWidthContainer;
  box-sizing: content-box;
  margin: 0px auto;
  padding: 0px math.div($containerPadding, 2);
}
.menu__link:hover,
.menu__sub-link:hover {
  background-image: linear-gradient(93.51deg, #9b51e0 2.84%, #3081ed 99.18%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  border-bottom: 2px solid #9b51e0;
}

.header {
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  &__burger {
    display: none;
  }
  &__container {
    display: flex;
    min-height: $minHeight;
    align-items: center;
  }
  &__menu {
    flex: 1 1 auto;
  }
  &__logo {
    flex: 1 1 auto;
  }
  .menu {
    display: flex;
    justify-content: flex-end;
    &__list {
      display: flex;
      gap: 66px;
      & > li {
        position: relative;
      }
    }

    &__item {
      img {
        margin-bottom: 1.5px;
      }
    }

    &__link {
      color: #bcbcbc;
      font-family: "Outfit";
      font-style: normal;
      font-weight: 300;
      font-size: 24px;
      line-height: 3;
      letter-spacing: 0.015em;
      &.active {
        font-weight: 600;
        background-image: linear-gradient(
          93.51deg,
          #9b51e0 2.84%,
          #3081ed 99.18%
        );
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
        border-bottom: 2px solid #9b51e0;
      }
    }
    &__sub-list {
      position: absolute;
      top: 100%;
      background-color: #07132b;
      padding: 15px;
      left: -33px;
      margin-top: -15px;
      font-family: "Outfit";
      font-style: normal;
      font-weight: 300;
      font-size: 18px;
      line-height: 3;
      letter-spacing: 0.015em;
      min-width: 120px;
      color: #bcbcbc;
      opacity: 0;
      visibility: hidden;
      transform: translate(0px, 10%);
      pointer-events: none;
      transition: all 0.3s ease 0s;
      li {
        margin-top: -5px;
        max-height: 50px;
        text-align: center;
      }
    }
    &__sub-link {
      color: #bcbcbc;
    }
    &__icon {
      // display: none;
    }
  }

  .menu__button {
    width: 40px;
    height: 40px;
    background: rgba(28, 28, 28, 0);
  }
}

/*--------------------------------*/
body {
  &._pc {
    .menu__list {
      > li:hover {
        .menu__sub-list {
          opacity: 1;
          visibility: visible;
          transform: translate(0px, 0px);
          pointer-events: all;
        }
      }
    }
  }
  &._touch {
    .menu__list {
      > li {
        display: flex;
        align-items: center;
      }
      a {
        height: 50px;
        margin-top: -25px;
      }
      li._active {
        .menu__sub-list {
          opacity: 1;
          visibility: visible;
          transform: translate(0px, 0px);
          pointer-events: all;
          margin-top: 5px;
        }
        .menu__arrow {
          transform: rotate(-180deg);
        }
      }
    }
    .menu__link {
      flex: 1 1 auto;
    }
    .menu__arrow {
      display: block;
      width: 0;
      height: 0;
      border-left: 7px solid transparent;
      border-right: 7px solid transparent;
      border-top: 10px solid #bcbcbc;
      transform: translate 0.5 ease 0s;
      margin-bottom: -5px;
    }
  }
  &.active {
    background-image: none;
    background-color: #07132b;
    .header {
      &__logo {
        margin-left: 3px;
      }
      &__container {
        .header__menu {
          .menu {
            &__arrow {
              margin-top: 12px;
            }
            &__list {
              display: block;
              position: absolute;
              > li {
                min-height: 60px;
              }
              .menu__link {
                font-size: 30px;
                min-height: 62px;
              }
            }
            &__sub-list {
              border: 3px solid purple;
              background-color: #0a0f20;
              padding: 10px 10px;
              left: -20px;
            }
            &__sub-link {
              max-height: 45px;
            }
          }
        }
      }
    }

    .footer,
    .main,
    section {
      display: none;
    }
  }
}

.burger {
  display: none;
  position: relative;
  margin-top: -7px;
  width: 50px;
  height: 40px;
  cursor: pointer;
  & span,
  & span:before,
  & span:after {
    width: 100%;
    position: absolute;
    height: 7px;
    background: #bcbcbc;
    display: block;
    transition: 0.3s;
    border-radius: 5px;
  }
  & span:before {
    content: "";
    top: -15px;
    transition: top 300ms 300ms, transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  & span {
    top: 20px;
  }
  & span:after {
    content: "";
    bottom: -15px;
    transition: bottom 300ms 300ms,
      transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  & span.active:before {
    content: "";
    top: 0px;
    transform: rotate(45deg);
    transition: top 300ms,
      transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  & span.active:after {
    content: "";
    bottom: 0;
    transform: rotate(-45deg);
    transition: bottom 300ms,
      transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  & span.active {
    background: rgba(255, 255, 255, 0);
  }
}

/*--------------------------------*/
/*--------------------------------*/
/*--------------------------------*/
/*--------------------------------*/
@media (max-width: 1100px) {
  #add {
    display: none;
  }
  body {
    &._touch {
      .offer-constr {
        .block-text {
          margin-top: -40px;
        }
      }
    }
    .player {
      margin-top: 580px;
    }
    .offer-constr {
      .block-text {
        margin-top: -120px;
      }
    }
  }
  .offer-constr {
    &__container {
      flex-wrap: wrap;
    }
    &__image {
      img {
        display: none;
      }
    }
    &__content {
      flex: 1 1 auto;
    }
  }
  .block-text {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  .category {
    margin-top: 700px;
  }
}
@media (max-width: 900px) {
  body._touch {
    .offer-constr {
      .block-text {
        margin-top: -160px;
      }
    }
  }
}

@media (max-width: 768px) {
  [class*="_container"] {
    padding: 0px math.div(45px, 2);
  }
  #player-album {
    display: none;
  }
  body._touch {
    .offer-constr {
      .block-text {
        margin-top: -100px;
      }
    }
    .player {
      &__container {
        .player {
          &__content-left {
            img,
            span {
              margin-right: 23px;
            }
          }
        }
      }
    }
    .header {
      &__logo {
        img {
          width: 120px;
        }
      }
      .menu {
        &__link {
          font-size: 20px;
          max-height: 43px;
        }
        &__list {
          gap: 33px;
          a {
            margin-top: -20px;
          }
        }
      }
    }
  }
  .menu__icon {
    z-index: 5;
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    span {
      top: 50%;
      transform: scale(1) translate(0px, -50%);
    }
    cursor: pointer;
    &:before,
    &:after,
    span {
      height: 10%;
      width: 100%;
      transition: all 0.3 ease 0s;
      background-color: #bcbcbc;
    }
    &:before,
    &:after {
      content: "";
    }
    &:before {
      top: 0;
    }

    &:after {
      bottom: 0;
    }
  }
  main {
    .offer-constr {
      .block-text {
        &__titel {
          font-size: 120px;
          margin-left: -11px;
          margin-bottom: -20px;
        }
        &__text {
          font-size: 20px;
          max-width: 350px;
          margin-top: -10px;
        }
        &__button {
          margin-left: 70px;
        }
      }
    }
  }
}
@media (max-width: 576px) {
  #favourite,
  #repeat,
  #repeat,
  #albumSmall {
    display: none;
  }

  body {
    &._touch {
      .player {
        margin-top: 450px;
        &__container {
          .player {
            &__content-right {
              flex: 0 0 40;
              img {
                margin-left: 15px;
              }
            }
            &__content-left {
              img,
              span {
                margin-right: 18px;
              }
            }
          }
        }
      }
      .offer-constr {
        .offer-constr__container {
          .block-text {
            margin-top: -100px;
          }
        }
      }
      .category {
        margin-top: 500px;
        &__titels {
          .category__name {
            font-size: 35px;
          }
          .category__text {
            font-size: 20px;
            margin-top: 3px;
          }
        }
      }
      .burger {
        display: block;
      }
      .header {
        .menu {
          &__list {
            display: none;
          }
        }
      }
    }
  }
  main {
    .offer-constr {
      .block-text {
        &__titel {
          font-size: 100px;
          margin-left: -8px;
          margin-bottom: -32px;
        }
        &__text {
          font-size: 18px;
          max-width: 350px;
          margin-top: -10px;
        }
        &__button {
          margin-left: 40px;
        }
      }
    }
  }
  footer {
    .footer {
      &__item {
        img {
          max-width: 120px;
        }
      }
      &__text {
        font-size: 20px;
      }
    }
  }
}
@media (max-width: 400px) {
  #mix,
  #download {
    display: none;
  }
  body._touch {
    .player {
      margin-top: 340px;
    }
    .offer-constr {
      .offer-constr__container {
        .block-text {
          margin-top: -120px;
        }
      }
    }
    .category {
      margin-top: 400px;
      &__titels {
        .category__name {
          font-size: 25px;
        }
        .category__text {
          font-size: 18px;
          margin-top: 3px;
        }
      }
    }
  }

  main {
    .offer-constr {
      .block-text {
        &__titel {
          font-size: 70px;
          margin-left: -5px;
          margin-bottom: -60px;
        }
        &__text {
          font-size: 16px;
          max-width: 350px;
          margin-top: -10px;
          margin-bottom: -10px;
        }
        &__button {
          margin-left: 12px;
          padding: 15px 50px;
        }
      }
    }
  }
}
/*--------------------------------*/
/*--------------------------------*/
/*--------------------------------*/
/*--------------------------------*/
.offer-constr {
  padding: 162px 0px 0px 0px;
  &__container {
    display: flex;
  }
  &__content {
    flex: 0 1 50%;
    margin-top: -70px;
  }
  &__image {
    margin-top: -100px;
    flex: 0 1 50%;
    padding: 0px 13px 0px 0px;

    img {
      max-width: 100%;
      float: right;
    }
  }
  .block-text {
    &__titel {
      font-family: "Open Sans";
      font-style: normal;
      font-weight: 400;
      font-size: 170px;
      line-height: 232px;

      color: $mainTextColor;
      margin-left: -15px;
      margin-top: 40px;
    }
    &__text {
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 400;
      font-size: 24px;
      line-height: 29px;
      max-width: 513px;
      color: #bcbcbc;
    }
    &__button {
      margin-top: 30px;
      display: inline-block;
      font-family: "Open Sans";
      font-style: normal;
      font-weight: 400;
      font-size: 24px;
      line-height: 36px;
      letter-spacing: 1px;
      color: $mainTextColor;
      padding: 18px 70px;
      border-radius: 16px;
      background: linear-gradient(
        103.91deg,
        #9b51e0 21.01%,
        rgba(48, 129, 237, 0.8) 100%
      );
    }
  }
}
.player {
  margin-top: -70px;
  position: absolute;
  z-index: 100;
  background: rgba(69, 10, 108, 0.2);
  backdrop-filter: blur(62.4857px);
  mix-blend-mode: normal;

  height: 100px;
  width: 100%;
  .volume {
    display: none;
    position: absolute;
    width: 40px;
    height: 100px;
    background-color: #9554e1;

    margin-top: -180px;
    border-radius: 13px;
    &__active {
      display: block;
    }
    input[type="range"] {
      transform: rotate(270deg);
      margin-left: -25px;
      margin-top: 40px;
      width: 90px;
      &::-webkit-slider-runnable-track {
        border-radius: 10px/100%;
      }
    }
  }
  .progress {
    &__case {
      width: 100%;
      margin-right: auto;
      height: 10px;
      border: 2px solid #9554e1;
      border-radius: 15px;
      display: flex;
      align-items: center;
      cursor: pointer;
      background-color: #3d4c9a;
      .progress {
        border-radius: 15;
        background-color: #9554e1;
        height: 10px;

        float: left;
      }
    }
  }
  span {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 19.708px;
    line-height: 27px;

    color: $mainTextColor;
  }
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    img,
    span {
      margin-right: 27px;
      cursor: pointer;
    }
  }
  &__content-left {
    display: flex;
    align-items: center;
    vertical-align: middle;
    flex: 1 1 auto;
  }
  &__content-right {
    display: flex;
    align-items: center;
    flex: 0 0 100;
    float: right;
    img {
      margin-left: 27px;
      margin-right: 0px;
    }
  }
}
.category {
  &__container {
    display: flex;
    flex-direction: column;
  }
  &__items {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
    margin-right: 16px;
    margin-bottom: 20px;
  }

  &__titels {
    display: flex;
    flex: 1 1 auto;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
    margin-top: 50px;
  }
  &__name {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 1000;
    font-size: 48px;
    line-height: 72px;

    letter-spacing: -1px;

    color: $mainTextColor;
  }
  &__text {
    display: flex;
    align-items: center;
    margin-top: 15px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    cursor: pointer;

    letter-spacing: -1px;

    color: #d7d7d7;
  }
  &__item {
    width: 286px;
    height: 430px;

    img {
      padding-top: 0px;
      padding-bottom: 15px;
      cursor: pointer;
    }
    span {
      font-family: "Poppins";
      font-style: normal;
      color: $mainTextColor;
      &.__name {
        font-weight: 1000;
        font-size: 18px;
        line-height: 24px;
      }
      &.__date {
        font-weight: 800;
      }
    }
    a {
      font-family: "Poppins";
      font-style: normal;
      color: $mainTextColor;
      font-size: 16px;
      font-weight: 700;
      margin-left: 127px;
      border-radius: 8px;
      border: 1px solid $mainTextColor;
      padding: 2px 7px;
    }
    .album {
      &__name {
        border-bottom: 1px solid $mainTextColor;
        height: 373px;
      }
      &__date {
        margin-top: 16px;
      }
    }
  }
}
.footer {
  margin-top: 0px;
  &__container {
    border-top: 2px solid #bcbcbc;
    display: flex;
    height: 104px;
    justify-content: space-between;
    align-items: center;
  }
  &__text {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;

    color: #bcbcbc;
  }
}
